# Instagram Likes Report
## By: Rebecca Haywood
### Date: 9/20/2022

For this report, I have used the data collected by Instagram. Specifically the data collected about what posts I have liked since beginning my account on Instagram when I was a teenager. To structure this data I have used both the software of pandas and jupyter notebooks as well as json files.

 #### I hypothesize I have been on Instagram more in the past than recently and my data will reflect this. It will reflect it in such a way that users I no longer follow and or have even forgotten about will be within the top 20 likes of my data.

##### I also hypothesize that my data will reflect my age and how I used to use Instagram a lot more when I was younger versus now.

In [2]:
import pandas as pd
import json

In [3]:
with open(r"C:\Users\footb\Data Fa22\rebeccah189_20220906\likes\liked_posts.json") as j:
    liked_posts = json.load(j)

In [4]:
liked_posts_df= pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})

In [ ]:
liked_posts_df

In [6]:
liked_posts_df2 = pd.DataFrame([{'a': 1, 'b': 4, 'c':7}, {'a': 2, 'b':5, 'c':8}, {'a': 3, 'b': 6, 'c':9}])

In [7]:
liked_posts_df2

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
liked_posts

In [9]:
test1 = pd.DataFrame(liked_posts)

In [10]:
test1.head()

                                   likes_media_likes
0  {'title': 'therealcarl0spena', 'media_list_dat...
1  {'title': 'godsholyscriptures', 'media_list_da...
2  {'title': 'ashley_phillips_97', 'media_list_da...
3  {'title': 'chancehooper1224', 'media_list_data...
4  {'title': 'chancehooper1224', 'media_list_data...

In [11]:
test2 = pd.DataFrame(liked_posts['likes_media_likes'])

In [12]:
test2.head()

,title,media_list_data,string_list_data
0,therealcarl0spena,[],[{'href': 'https://www.instagram.com/p/poQC9rP...
1,godsholyscriptures,[],[{'href': 'https://www.instagram.com/p/pm0kjBy...
2,ashley_phillips_97,[],[{'href': 'https://www.instagram.com/p/pm5mgci...
3,chancehooper1224,[],[{'href': 'https://www.instagram.com/p/pm6EV-J...
4,chancehooper1224,[],[{'href': 'https://www.instagram.com/p/pms9ONJ...

In [13]:
test2['string_list_data'][0]

[{'href': 'https://www.instagram.com/p/poQC9rP6uN/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1403618902}]

In [14]:
test2['string_list_data'][0][0]

{'href': 'https://www.instagram.com/p/poQC9rP6uN/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1403618902}

In [15]:
test2.head()

,title,media_list_data,string_list_data
0,therealcarl0spena,[],[{'href': 'https://www.instagram.com/p/poQC9rP...
1,godsholyscriptures,[],[{'href': 'https://www.instagram.com/p/pm0kjBy...
2,ashley_phillips_97,[],[{'href': 'https://www.instagram.com/p/pm5mgci...
3,chancehooper1224,[],[{'href': 'https://www.instagram.com/p/pm6EV-J...
4,chancehooper1224,[],[{'href': 'https://www.instagram.com/p/pms9ONJ...

In [16]:
test2['string_list_data'][0]

[{'href': 'https://www.instagram.com/p/poQC9rP6uN/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1403618902}]

In [17]:
test2['string_list_data'][0][0]

{'href': 'https://www.instagram.com/p/poQC9rP6uN/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1403618902}

In [18]:
test2['string_list_data'][0][0]['timestamp']

1403618902

In [19]:
timestamps = [x[0]['timestamp'] for x in test2['string_list_data']]

In [ ]:
timestamps

In [21]:
test2['timestamp'] = timestamps

In [22]:
final_df = test2.drop('string_list_data', axis = 1)

In [23]:
final_df.head()

                title media_list_data   timestamp
0   therealcarl0spena              []  1403618902
1  godsholyscriptures              []  1403574102
2  ashley_phillips_97              []  1403573869
3    chancehooper1224              []  1403572477
4    chancehooper1224              []  1403572473

In [24]:
final_df.groupby('timestamp').count().sort_values('title', ascending=False).head(5)

            title  media_list_data
timestamp
1496694285      4                4
1436835404      3                3
1436835188      3                3
1436835023      3                3
1436834957      3                3

In [25]:
final_df.groupby('title').count().sort_values('timestamp', ascending=False).head(30)

                                media_list_data  timestamp
title
fallinginsociety                           1402       1402
shawnmendes                                 943        943
fuhkology                                   830        830
godsholyscriptures                          758        758
chancehooper1224                            590        590
instagod                                    573        573
holy                                        512        512
bviral                                      488        488
godcaresbro                                 444        444
3.1415926535897932384626433832              429        429
perfectsayings                              426        426
mlb                                         396        396
hellomallomar                               395        395
epicfunnypage                               369        369
jesus_the_lord_                             360        360
cohmedy                                     350        350
hoenest                                     341        341
poemsvibe                                   339        339
ifunnymeme                                  331        331
factsdailyy                                 330        330
noteforself                                 329        329
advice                                      326        326
landoffloof                                 304        304
girlzology                                  300        300
daily_bibleverses                           296        296
dailyteensfeed                              292        292
thedogist                                   290        290
sarcasm_only                                288        288
sportscenter                                283        283
skaterpam                                   281        281

Instagram collected this data to be able to find out which users I liked the most and which user data to show me. As well as similar user data that I might be interested in since I liked a certain product or user.

This data is reliable because it is based upon facts and trends that visually and statistically show which users' posts I liked the most.

This data can also be unreliable, because it is from my entire history and time I have spent on Instagram. It is not recent data. It is also biased by just being about my likes and the users I interacted with.

In Conclusion, my hypothese was right and has proven that I was more active on Instagram when I was younger versus recently. My data shows this by showing me my top likes of each user and a lot of the users mentioned, I do not even follow anymore and or remember much about them. I was suprised to see that not many dog pages were mentioned as I love dogs and I was surprised that many religious based accounts were ranked within the top 30. I am not surprised that Shawn Mendes was my most second liked user. He was and still is one of my favorite artists.I also find it very interesting that within the top 30, not a lot of friends or family members were mentioned. It makes me wonder if they didn't post much, or if I just didn't see it because I was shown other posts and other users based upon how often I liked their content of their accounts.